* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #666;
}

:root {
  --mainCellColor: #4C514F;
  --cellBackground: #f3f3f3;
  --cellSecondColor: #7CC242;
  --brandFontColor: #7CC242;
  --mainFontColor: #4E5351;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  min-width: 500px;
  color: var(--mainFontColor);
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

.header-container {
  display: flex;
  margin-top: 20px;
}

.logo-center {
  text-align: left;
  background: white;
  flex: 1 1 0;
}

.logo-center img {
  max-height: 130px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  align-items: end;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1 1 0;
  justify-content: flex-end;
  text-align: right;
}

.contact-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid var(--brandFontColor);
}

.contact-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #222;
}

.contact-info-name {
  font-size: 22px;
  font-weight: 700;
  color: var(--brandFontColor);
}

.contact-info-company {
  font-size: 18px;
  font-weight: 500;
}

.contact-info-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}

.comunicate {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.contacts-nmls-dre {
  color: #666;
}

main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-chart-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.summary-tables {
  display: flex;
  gap: 20px;
  flex: 0 1 70%;
  min-width: 0;
}

.current-loan-table {
  flex: 1 1 30%;
  min-width: 280px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.current-loan {
  width: 100%;
  border-collapse: collapse;

  margin-bottom: 20px;
}

.current-loan thead th {
  background-color: var(--mainCellColor);
  color: white;
  padding: 10px;
  text-align: left;
}

.current-loan td {
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-size: 14px;
}

.current-loan td:first-child {
  color: #444;
  width: 60%;
}

.summary-table {
  flex: 1 1 70%;
  background: white;
  min-width: 490px;
}

.subject-rate-cost {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: var(--brandFontColor);
}

.rate-cost-table {
  width: 100%;
  overflow-x: auto;
}

.table-section {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
  overflow: hidden;
  table-layout: fixed;
}

.table-section:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.table-section thead th {
  background-color: var(--mainCellColor);
  color: white;
  padding: 10px;
  font-weight: 600;
  text-align: left;
}

.table-section td,
.table-section th {
  padding: 10px 12px;
  border: 1px solid #ddd;
  background-color: #f9fcfd;
}

.table-section td:first-child {
  text-align: left;
  font-weight: 500;
}

.table-section td:not(:first-child),
.table-section th:not(:first-child) {
  text-align: right;
  white-space: nowrap;
}

.highlight-row td {
  background-color: var(--cellSecondColor);
  font-weight: 600;
  color: white;
}

.charts {
  flex: 0 1 30%;
  background: white;
  min-width: 320px;
}

.chart-header {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
}

.chart-container {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* RESPONSIVE */
@media (max-width: 1400px) {
  .summary-chart-wrapper {
    flex-direction: column;
  }

  .summary-tables,
  .charts {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {

  .charts,
  .greeting-container {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .summary-tables {
    flex-direction: column;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-center,
  .contact-card {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
  }

  .contact-info,
  .contact-info-contacts {
    align-items: center;
  }

  .contact-card {
    flex-direction: column;
    gap: 15px;
  }
}