* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--mainFontColor);
}

td[title] {
  cursor: help;
}

:root {
  /*--mainCellColor: #4C514F;*/

  --brandFontColor: #7CC242;
  --mainFontColor: #4E5351;

  --reportForYou: #cacaca;
  --contactInfoFontColor: #222222;

  --rowSecondColor: #7CC242;
  --rowBackground: #bebebe;
  --highlightFontColor: #ffffff;
  --tableBorderColor: #dddddd;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  min-width: 500px;
  color: var(--mainFontColor);
}

.container {
  margin: 0 auto;
  padding: 20px 50px;
  max-width: 1600px;
}

.header-container {
  display: flex;
  margin-top: 20px;
}

.logo-center {
  text-align: left;
  flex: 3 1 0;
  display: flex;
  align-items: center;
}

.logo-center img {
  max-height: 130px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: end;
}

.greeting-container {
  flex: 0 1 75%;
}

#proposalIntro {
  font-size: 20px;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1 1 0;
  justify-content: flex-start;
  min-width: 400px;
  white-space: nowrap;
}

.contact-card img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid var(--brandFontColor);
}

.contact-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--contactInfoFontColor);
}

.contact-info-foryou {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--reportForYou);
}

.contact-info-name {
  font-size: 22px;
  font-weight: 700;
  color: var(--brandFontColor);
}

.contact-info-company {
  font-size: 18px;
  font-weight: 500;
}

.contact-info-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}

.comunicate {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.contacts-nmls-dre {
  color: var(--mainFontColor);
}

main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.summary-chart-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.summary-tables {
  display: flex;
  flex: 0 1 70%;
  min-width: 0;
}

/*.summary-table {
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 5);
}*/

.subject-rate-cost {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: var(--brandFontColor);
}

.rate-cost-table {
  width: 100%;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 5);
}

.disclaimer {
  font-size: 14px;
  color: #555;
  margin-top: 30px;
  line-height: 1.4;
  border: 2px solid #dddddd;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.table-section {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
  overflow: hidden;
  table-layout: fixed;
}

.table-section:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/*.table-section thead th {
  background-color: var(--mainCellColor);
  color: white;
  padding: 10px;
  font-weight: 600;
  text-align: left;
}*/


.table-section tr {
  background-color: var(--rowBackground);
}

.table-section td {
  padding: 10px 12px;
  border: 1px solid var(--tableBorderColor);
  font-weight: 500;
}

.table-section td:first-child {
  text-align: left;
  font-weight: 500;
}

.table-section td:not(:first-child) {
  text-align: right;
  white-space: nowrap;
}

.highlight-row td {
  font-weight: 600;
}

.highlight-row td:first-child {
  color: var(--highlightFontColor);
  background-color: var(--rowSecondColor);
}

.charts {
  flex: 0 1 30%;
  min-width: 320px;
}

.chart-header {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 10px;
}

.chart-container {
  border: 1px solid var(--tableBorderColor);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* RESPONSIVE */
@media (max-width: 1400px) {
  .summary-tables {
    flex: 1 1 60%;
  }

  .charts {
    flex: 1 1 40%;
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .summary-chart-wrapper {
    flex-direction: column;
  }

  .charts,
  .greeting-container {
    flex: 1 1 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .summary-tables {
    flex-direction: column;
  }

  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo-center,
  .contact-card {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
  }

  .contact-info,
  .contact-info-contacts {
    align-items: center;
  }

  .contact-card {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 800px) {
  .greeting-container {
    padding-top: 20px;
  }

  #proposalIntro {
    font-size: 18px;
  }

  .current-loan td {
    padding: 6px;
    font-size: 12px;
  }

  .table-section {
    font-size: 12px;
  }

  .table-section td {
    padding: 6px 7px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}